#aboutimg {
    width: 350px;
    height: 350px;
    margin-bottom: 35px;
    border-radius: 50%;
}
.inner-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner-about p{
    text-align: justify;
    font-size: 18px;
}